body {
    background-color:grey;
            
}

header ul {
    list-style: none; /* убираем  стили*/
    color: rgb(245, 235, 235);
    font-size: 19px;
    margin:0;  /* убираем отступы */
    padding-left:0; /* убираем отступы */

}

header ul li {
    display: inline-block;
    float: left;
    margin-left:45px;
    margin-top: 20px;


}

header {
    height: 55px;
    width: 100%;
    background-color: rgb(17, 13, 13) ;

}
.container {
    /*
    position: relative;
    */
    margin-top:35px;
}

.main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    
}

.moto {
    width:100%;
    height:150px;
}
.moto h4 {
    font-size: larger;
    font-stretch: expanded;
    color: rgb(29, 25, 25);
    margin-left: 40px;
}

h2 {
    font-style: Arial. sans-serif;
    font-size: 33px;
    text-align: center;

}

#authors {
    width: 100%;
    height:400px; 
    clear: both;
    position: absolute;
    
}

.first_story {
    width: 25%;
    height:450px;
    margin-left: 95px;
    float: left;
}

.first_story img {
    width: 340px;
    height: 440px;
    border-radius: 14px;


}

.second_story {
    width: 25%;
    height:450px;
    margin-left: 95px;
    float: left;

}
.second_story img {
    width: 340px;
    height: 440px;
    border-radius: 14px;

}


.third_story {
    width: 25%;
    height:450px;
    margin-left: 95px;
    float: left;
   

}

.third_story img {
    width: 340px;
    height: 440px;
    border-radius: 14px;
    

}

.header {
    text-align: center;;
}

.us {
    width: 300px;
    height: 100px;
}
/*
footer {
    background-color: rgb(235, 129, 182);
    color: white;
    text-align: center;
    padding: 3px;
}

*/
    

