body {
    background-color:grey;
            
}

header ul {
    list-style: none; /* убираем  стили*/
    color: rgb(245, 235, 235);
    font-size: 19px;
    margin:0;  /* убираем отступы */
    padding-left:0; /* убираем отступы */

}

header ul li {
    display: inline-block;
    float: left;
    margin-left:45px;
    margin-top: 20px;


}

header {
    height: 55px;
    width: 100%;
    background-color: rgb(17, 13, 13) ;

}
.container {
    /*
    position: relative;
    */
    margin-top:35px;
}

.main_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    
    

}

.moto {
    /*
    position: absolute;
    top:8px;
    left: 32px;
    */

}

.moto h4 {
    font-size: larger;
    font-stretch: expanded;
    color: rgb(29, 25, 25);
    margin-left: 40px;
}

h2 {
    font-style: Arial. sans-serif;
    font-size: 33px;
    text-align: center;

}

.first_story {
    width: 25%;
    height:450px;
    margin-left: 77px;
    float: left;
}

.first_story img {
    width: 340px;
    height: 440px;
    border-radius: 14px;


}


